<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Najnowsze posty</title>
</head>
<body>
{% load tz %}
{% localtime on %}
    <p style="text-align: left"><a href="{% url 'cwierkacz:logout' %}">Wyloguj</a></p>
    <p style="text-align: left"><a href="{% url 'cwierkacz:create-post' %}">Napisz post</a></p>
    <p style="text-align: left"><a href="{% url 'cwierkacz:users' %}">Użytkownicy</a></p>
    <h1 style="text-align: center">Ćwierkacz</h1>
    <h2 style="text-align: center">Ostatnie posty</h2>
    {% if latest_posts %}
        <ul>
            {% for post in latest_posts %}
                <li>
                    <a href="{% url 'cwierkacz:post-detail' post.id %}">
                        {{ post.author.username }}, {{ post.created_date | localtime }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Brak postów.</p>
    {% endif %}
{% endlocaltime %}
</body>
</html>