<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ object.username }}</title>
</head>
<body>
{% load tz %}
{% localtime on %}
    <p style="text-align: left"><a href="{% url 'cwierkacz:home' %}">Strona główna</a></p>
    <p style="text-align: left"><a href="{% url 'cwierkacz:users' %}">Użytkownicy</a></p>
    <h1>{{ object.username }}</h1>
    {% if posts %}
        <ol>
            {% for post in posts %}
                <p><strong>{{ post.created_date | localtime }}</strong></p>
                <p>{{ post.text }}</p>
                <p></p>
            {% endfor %}
        </ol>
    {% else %}
        <p>Brak postów tego użytkownika.</p>
    {% endif %}
{% endlocaltime %}
</body>
</html>