<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ćwierkacz</title>
</head>
<body>
    <p style="text-align: left"><a href="{% url 'cwierkacz:logout' %}">Wyloguj</a></p>
    <p style="text-align: left"><a href="{% url 'cwierkacz:create-post' %}">Napisz post</a></p>
    <p style="text-align: left"><a href="{% url 'cwierkacz:user-detail' user.pk %}">Moje posty</a></p>
    <h1 style="text-align: center">Ćwierkacz</h1>
    <h2 style="text-align: center">Inni użytkownicy</h2>
    {% if users %}
        <ul>
            {% for u in users %}
                <li>
                    <a href="{% url 'cwierkacz:user-detail' u.pk %}"> {{ u.username }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Brak innych użytkowników.</p>
    {% endif %}
</body>
</html>